@font-face {
    font-family: 'TT Ramillas Trl';
    src: url('TTRamillasTrl-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Ramillas Trl';
    src: url('TTRamillasTrl-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Ramillas Trl';
    src: url('TTRamillasTrl-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Ramillas Trl';
    src: url('TTRamillasTrl-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

